/* nav styles */

.nav-container {
    display: flex;
    justify-content: space-between;
}

.menus {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 150px;
    margin-top: 60px;
}

h4 {
    margin-left: 127px;
    margin-top: 80px;

}

/* banner styles */
.banner-container {
    display: flex;
    justify-content: space-around;
}

h1 {
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner-image {
    margin-top: 50px;
}

.btn-primary {
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    border-style: none;
    color: white;
}



